$test-color: #d8421438;
$heading-font: "Sen", sans-serif;
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  // background-color: #fffcf4;
  font-family: "Poppins", sans-serif;
}
/*============common=============*/
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: auto;
  max-width: calc(100% - 48px);
  // background-color: $test-color;
}
.btn {
  display: inline-block;
  line-height: 50px;
  min-width: 118px; // because most of buttons have this size
  padding: 0px 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
/*============unique=============*/
.btn-sign-up {
  min-width: 144px;
}
/*============header=============*/
.header {
  // margin-top: 10px;
  // background-color: #e87ac6;
  background-color: #fffcf4;
  z-index: 1;
  .main-content {
    .body {
      display: flex;
      align-items: center;
      // justify-content:space-around;
      /* margin or padding whatever */
      padding: {
        top: 36px;
        bottom: 8px;
      }
      .nav {
        margin-left: auto;
        ul {
          display: flex;
          li {
            a {
              position: relative;
              // display: inline-block;
              color: #5f5b53;
              font-size: 1.6rem;
              padding: 0.8rem 2.1rem;
              // margin-bottom: 10px;
              // background-color: aquamarine;
            }
            a:hover,
            &.active > a {
              color: #171100;
              text-shadow: 1px 0px 0px currentColor;
            }
            &.active {
              // a {
              //   color: #e7aa03;
              //   text-shadow: 1px 0px 0px currentColor;
              // }
              a::after {
                content: "";
                position: absolute;
                left: 21px;
                // bottom:0px;
                display: block;
                background: #171100;
                width: 12px;
                height: 2px;
                border-radius: 1px;
                // flex-shrink: 0;
              }
            }
          }
        }
      }
      .action {
        margin-left: 49px;
      }
    }
  }
  &.fixed {
    position: sticky;
    top: -28px;
  }
}

/*============main=============*/
.main {
  // margin-top: 20px;
  .hero {
    background-color: #fffcf4;
    // z-index:-1;
    padding: {
      top: 56px;
      bottom: 65px;
    }
    .main-content {
      .body {
        display: flex;
        .left-hero {
          position: relative;
          // background-color: $test-color;
          // z-index:-1;
          // background-color: yellow;
          width: 48%;
          // height:500px;
          // height: 685px;
          .left-content-img {
            width: 470px;
            height: 685px;
            object-fit: cover;
            border-radius: 20px;
          }
          .summary {
            position: absolute;
            bottom: 48px;
            right: 0px;
            width: 270px;
            // height: 244px;
            padding: 24px;
            border-radius: 12px;
            background: #fff;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
            .item {
              display: flex;
              align-items: center;
              & + .item {
                // .icon {
                //   margin-top: 22px;
                // }
                margin-top: 14px;
              }
              .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                // justify-content: center;
                // align-items: center;
                background-color: #fff9e8;

                .icon-image {
                  margin: auto;
                }
              }
              .icon2 {
                background-color: #fcefff;
              }
              .icon3 {
                background-color: #ebeaff;
              }
              .info {
                margin-left: 16px;
                .total-number {
                  color: #5f5b53;
                  font-size: 1.4rem;
                  line-height: 1.86; //186%
                }
                .title {
                  color: #171100;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 166.667%;
                }
              }
            }
          }
        }
        .right-hero {
          // margin-left: auto;
          width: 52%;
          padding: {
            top: 64px;
            left: 130px;
          }
          .heading {
            color: #171100;
            font-family: $heading-font;
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            line-height: 68px; /* 117.241% */
            letter-spacing: -1.16px;
          }
          .desc {
            margin-top: 22px;
            color: #5f5b53;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
          }
          .action {
            display: flex;
            margin-top: 38px;
            .btn-see-courses {
              width: 180px;
              line-height: 64px;
              border-radius: 32px;
              background: #ffb900;
              font-size: 1.8rem;
            }
            .watch {
              border: none;
              background: transparent;
              margin-left: 28px;
              cursor: pointer;
              display: flex;
              align-items: center;
              .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
              }
              .watch-video {
                margin-left: 14px;
                // width: 148px;
                color: #171100;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 30px; /* 166.667% */
                // align center inherit from button element
              }
            }
          }
          .achievement {
            margin-top: 48px;
            .stats {
              margin-top: 8px;
              display: flex;
              p {
                strong {
                  color: #171100;
                  font-family: Sen;
                  font-size: 44px;
                  font-weight: 700;
                  line-height: 54px; /* 122.727% */
                  margin-right: 8px;
                }
                & + p {
                  margin-left: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
}
