* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*============common=============*/
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  line-height: 50px;
  min-width: 118px;
  padding: 0px 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.btn:hover {
  background: #ffb900;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-number, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-number: 2;
}

/*============unique=============*/
.btn-sign-up {
  min-width: 144px;
}

/*============header=============*/
.header {
  background-color: #fffcf4;
  z-index: 1;
}
.header .main-content .body {
  display: flex;
  align-items: center;
  /* margin or padding whatever */
  padding-top: 36px;
  padding-bottom: 8px;
}
.header .main-content .body .nav {
  margin-left: auto;
}
.header .main-content .body .nav ul {
  display: flex;
}
.header .main-content .body .nav ul li a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 0.8rem 2.1rem;
}
.header .main-content .body .nav ul li a:hover, .header .main-content .body .nav ul li.active > a {
  color: #171100;
  text-shadow: 1px 0px 0px currentColor;
}
.header .main-content .body .nav ul li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  display: block;
  background: #171100;
  width: 12px;
  height: 2px;
  border-radius: 1px;
}
.header .main-content .body .action {
  margin-left: 49px;
}
.header.fixed {
  position: sticky;
  top: -28px;
}

/*============main=============*/
.main .hero {
  background-color: #fffcf4;
  padding-top: 56px;
  padding-bottom: 65px;
}
.main .hero .main-content .body {
  display: flex;
}
.main .hero .main-content .body .left-hero {
  position: relative;
  width: 48%;
}
.main .hero .main-content .body .left-hero .left-content-img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.main .hero .main-content .body .left-hero .summary {
  position: absolute;
  bottom: 48px;
  right: 0px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.main .hero .main-content .body .left-hero .summary .item {
  display: flex;
  align-items: center;
}
.main .hero .main-content .body .left-hero .summary .item + .item {
  margin-top: 14px;
}
.main .hero .main-content .body .left-hero .summary .item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  background-color: #fff9e8;
}
.main .hero .main-content .body .left-hero .summary .item .icon .icon-image {
  margin: auto;
}
.main .hero .main-content .body .left-hero .summary .item .icon2 {
  background-color: #fcefff;
}
.main .hero .main-content .body .left-hero .summary .item .icon3 {
  background-color: #ebeaff;
}
.main .hero .main-content .body .left-hero .summary .item .info {
  margin-left: 16px;
}
.main .hero .main-content .body .left-hero .summary .item .info .total-number {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.main .hero .main-content .body .left-hero .summary .item .info .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}
.main .hero .main-content .body .right-hero {
  width: 52%;
  padding-top: 64px;
  padding-left: 130px;
}
.main .hero .main-content .body .right-hero .heading {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}
.main .hero .main-content .body .right-hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.main .hero .main-content .body .right-hero .action {
  display: flex;
  margin-top: 38px;
}
.main .hero .main-content .body .right-hero .action .btn-see-courses {
  width: 180px;
  line-height: 64px;
  border-radius: 32px;
  font-size: 1.8rem;
}
.main .hero .main-content .body .right-hero .action .watch {
  border: none;
  background: transparent;
  margin-left: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main .hero .main-content .body .right-hero .action .watch .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.main .hero .main-content .body .right-hero .action .watch .watch-video {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.main .hero .main-content .body .right-hero .achievement {
  margin-top: 48px;
}
.main .hero .main-content .body .right-hero .achievement .stats {
  margin-top: 8px;
  display: flex;
}
.main .hero .main-content .body .right-hero .achievement .stats p strong {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-right: 8px;
}
.main .hero .main-content .body .right-hero .achievement .stats p + p {
  margin-left: 28px;
}
.main .popular {
  padding: 65px 0px;
  margin-top: 135px;
}
.main .popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .popular .popular-top .popular-info .heading {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.main .popular .popular-top .popular-info .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  margin-top: 16px;
}
.main .popular .popular-top .popular-control .btn-control {
  border-radius: 50%;
  border: 1px solid #ffb900;
  border-color: #ffb900;
  color: #ffb900;
  background: transparent;
  width: 40px;
  height: 40px;
}
.main .popular .popular-top .popular-control .btn-control:hover {
  background-color: #ffb900;
  color: white;
  cursor: pointer;
}
.main .popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.main .popular .course-list .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.main .popular .course-list .course-item:hover {
  border-radius: 12px;
  border: 0px transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}
.main .popular .course-list .course-item img.thumbnail {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.main .popular .course-list .course-item .wrapper {
  padding: 16px 22px 22px 22px;
}
.main .popular .course-list .course-item .wrapper .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .popular .course-list .course-item .wrapper .heading .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.main .popular .course-list .course-item .wrapper .heading .rating {
  display: flex;
  align-items: center;
  color: #fea31b;
}
.main .popular .course-list .course-item .wrapper .heading .rating svg {
  margin-right: 6px;
}
.main .popular .course-list .course-item .wrapper .desc {
  color: #5f5b53;
  margin-top: 6px;
  font-size: 14px;
  line-height: 26px; /* 185.714% */
}
.main .popular .course-list .course-item .wrapper .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.main .popular .course-list .course-item .wrapper .foot .btn-buy {
  width: 118px;
}
.main .popular .course-list .course-item .wrapper .foot .price {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.main .feedback {
  margin-top: 165px;
  background-color: #2e2100;
}
.main .feedback .feedback-list {
  overflow: hidden;
  display: flex;
  padding: 96px 0px;
}
.main .feedback .feedback-list .feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}
.main .feedback .feedback-list .feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.main .feedback .feedback-list .feedback-item .info .name {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700px;
  line-height: 34px;
}
.main .feedback .feedback-list .feedback-item .info .profession {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 14px;
  line-height: 26px; /* 185.714% */
}
.main .feedback .feedback-list .feedback-item .info .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.main .feedback .feedback-list .feedback-item .info .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
}
.main .feedback .feedback-list .feedback-item .info .dots .dot.active {
  background-color: #ffb900;
}
.main .feedback .feedback-list .feedback-item .content {
  width: 66%;
}
.main .feedback .feedback-list .feedback-item .content .inside-quote {
  color: #fff;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

/*# sourceMappingURL=style.css.map */
